body {
        display: flex;  
        flex-direction: column;
        font-family: 'Roboto';
    }
    
    /* Top Section*/
    .top {
        display: flex;
        flex-direction: column;
        flex: auto;
        background-color: #1F2937;
        padding: 0px 100px;
    }
    
    .header {
        padding: 10px 0px;
        font-size: 24px;
        font-weight: bolder ;
        color: #F9FAF8;
    }
    
    .top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 75px;
        padding: 70px 0px;
    }
    
    .top-content .image {
        text-align: center;
        font-size: 18px;
        height: auto;
        padding: 8px;
        display: flex;
        flex: 1 1 600px;
        justify-content: center;
        align-items: center;
        background-color: #E5E7EB;
        color: #F9FAF8;
    }

    .top-content img {
        width: 100%;
        height: 100%;
    }
    
    .top-content .text h2 {
        font-size: 48px;
        font-weight: bolder;
        color: #3882F6;
        margin: 0;
    }
    
    .top-content .text p {
        font-size: 22px;
        color: #E5E7EB;
        margin: 0;
        flex-grow: 1; 
        padding: 15px 0px;
        max-width: 2000px;
    }

    
    /* Top-Mid Section */
    .top-mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 175px;
        margin-bottom: 100px;
    }
    
    .top-mid h3 {
        font-size: 40px;
        font-weight: bold;
        color: #1F2937;
    }
    
    .top-mid .container {
        display: flex;
        text-align: center;
        gap: 75px;
    }

    .top-mid .container .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .top-mid .container img {
        width: 150px;
        height: 150px;
        border: solid;
        padding: 15px;
        border-color: #3882F6;
        border-radius: 12px;
    }
    
    .top-mid .container a {
        margin: 0;
        padding-top: 10px;
        color: #6D747D;
        font-size: 22px;
        max-width: 300px;
    }

    /* Bot-Mid Section */
    .bot-mid {
        display: flex;
        flex-direction: row;
        padding: 30px 100px;
        background-color: #E5E7EB;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .bot-mid .text {
        display: flex;
        flex-direction: column;
    }

    .bot-mid h3 {
        font-size: 40px;
        font-weight: bold;
        color: #1F2937;
    }

    .bot-mid p {
        font-size: 18px; 
        max-width: 500px;
    }

    .bot-mid .entire {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bot-mid .entire div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .bot-mid .entire .container img {
        width: 100px;
        height: 100px;
    }

    .bot-mid .entire .container a {
        padding: 10px;
        font-size: 18px;
        color: #3882F6;
    }